body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0, rgb(30, 255, 0) 800%);
}
ul{
    display: flex;    
    justify-content: space-between ;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: rgb(39, 65, 211);
    text-decoration: none;
}
body button{
    background-color: #fff;
    border: 3px solid green;
    padding: 10px 20px;
    display: inline-block;
    font-size:1rem;
    font-weight: 600;
    width: 200px;
    cursor:pointer;
    transform: skew(-21deg);
}
nav button:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
::-webkit-scrollbar{
    width: 10px;
    }
    ::-webkit-scrollbar-track{
    background: #071411;
    border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb{
    background: #092909;
    border-radius: 50px;
    }
header h3{
    text-shadow: 3px 0px rgb(197, 36, 14);
    text-align: center;
}